<?php
use EfTech\ContactList;
/**
 * @var ContactList\Service\SearchAddressService\AddressDto[] $Addresses;
 * @var $contacts
 * @var array $formValidationResults
 * @var array $addressData
 */
?>
<html>
<head>
    <meta charset="UTF-8">
    <title>Address</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <table class="table table-bordered table-striped table-hover"  style="width: 600px; margin: auto;">
                <thead>
                <tr>
                    <th> №</th>
                    <th> id Контакта</th>
                    <th> Адрес</th>
                    <th> Статус</th>
                </tr>
                </thead>
                <tbody>
                {% for Address in Addresses %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            {% for addressIdRecipient in Address.getIdRecipient() %}
                                ({{ addressIdRecipient.getFullName() }} : {{ addressIdRecipient.getIdRecipient() }})
                            {% endfor %}
                        </td>
                        <td>
                            {{ Address.getAddress() }}
                        </td>
                        <td>
                            {{ Address.getStatus() }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <div class="mb-3" style="margin: auto; width: 300px">
                <h2>Добавить адрес</h2>
                {{ form(form_address) }}

            </div>
        </div>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>

